{% extends 'base.html' %}
{% block menu_other_expenses %}active{% endblock %}
{% block sub_menu_all_expenses %}active{% endblock %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <section class="content-header">
        <br>
        <a href="{% url 'other_expense:mitti_credit' pk=other_expense.id %}"><button type="button" value="Create" class="btn btn-danger">Add (Mitti / Sand)</button></a>
        <a href="{% url 'other_expense:mitti_debit' pk=other_expense.id %}"><button type="button" value="Create" class="btn btn-success">Debit (Banam)</button></a>
        <br><br><br>
    </section>
    <section class="content-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="row">
                        <h3 class="text-center"><b>{{ other_expense.name|title }} |</b> <small style="color: LightBlue !important; font-family: italian;"><b>Mitti / Sand Ledger Statement</b></small></h3>
                    </div>
                    <div class="box-body">
                        <div class="panel-body table-responsive">
                            <table class="table align-items-center table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    {#<th class="text-center">Bhatta</th>#}
                                    <th class="text-center">Amount Per Load</th>
                                    <th class="text-center">Total / Load</th>
                                    <th class="text-center">Total / Give Amount</th>
                                    <th class="text-center">Total / Take Amount</th>
                                    <th class="text-center">Details</th>
                                    <th class="remove-print-display">Actions</th>
                                </tr>
                                </thead>
                                <tbody class="reports-table-body">
                                {% for mitti in mittis %}
                                <tr>
                                    <td class="text-center">{{mitti.mitti_date}}</td>
                                    {#<td class="text-center">{{diesel.bhatta.name}}</td>#}
                                    <td class="text-center">{{mitti.amount_per_load|floatformat:-2 }}</td>
                                    <td class="text-center">{{mitti.total_load|floatformat:-2 }}</td>
                                    <td class="text-center">{{mitti.total_amount|floatformat:-2}}</td>
                                    <td class="text-center" style="color: Red !important;">{{mitti.mitti_debit_amount|floatformat:-2 }}</td>
                                    <td class="text-center">{{mitti.mitti_details}}</td>
                                    <td class="remove-print-display">
                                        <a href="{% url 'other_expense:mitti_delete' pk=mitti.pk %}" onclick="return confirm('&#9940 Are you sure you want to delete this item &#9940;')"><button class="btn btn-danger btn-xs">DELETE</button></a>
                                        <a href="{% url 'other_expense:mitti_update' pk=mitti.id %}"><button class="btn btn-primary btn-xs">Update</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    {#<td class="text-center" style="color: Black !important; font-family: italian;"><b>{{ amount_per_load|floatformat:'-2' }}</b></td>#}
                                    <td class="text-center" style="color: Black !important; font-family: italian;"><b>{{ total_load|floatformat:'-2' }}</b></td>
                                    <td class="text-center" style="color: Black !important; font-family: italian;"><b>{{ total_amount|floatformat:'-2' }}</b></td>
                                    <td class="text-center" style="color: Black !important; font-family: italian;"><b>Rs. {{ mitti_debit_amount|floatformat:'-2' }}</b></td>
                                    <td colspan="1" class="text-center" style="color: Red !important; font-family: italian;"><b>Remaining Amount: Rs. {{ remaining_amount|floatformat:'-2' }}</b></td>
                                </tr>
                                </tfoot>
                            </table>
                            {% if paginator.page_range|length > 1 %}
                            <div class="text-center col-lg-12">
                                <ul class="pagination justify-content-center">
                                    <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'other_expense:diesel_details' pk=other_expense.id %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                                    <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'other_expense:diesel_details' pk=other_expense.id %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
        function PrintInvoice(divName){
             var printContents = document.getElementById(divName).innerHTML;
             var originalContents = document.body.innerHTML;
             document.body.innerHTML = printContents;
             $('table').removeClass('table-bordered');
             $('tr').css('border', '1px solid');
             $('td').css('border', '1px solid');
             $('th').css('border', '1px solid');
             $('th').css('font-size', '12px');
             $('tr').css('font-size', '12px');
             $('td').css('font-size', '12px');
             $('.remove-print-display').hide();
             $('.print-show-options').show();
             window.print();
             document.body.innerHTML = originalContents;
             $('.remove-print-display').show();
             $('.print-show-options').hide();
        }
    </script>

<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "other_expense:diesel_details" pk=other_expense.id %}';
        window.location.href  = url + '?' + 'date=' + $('.date_search').val();
    });
})
</script>
{% endblock %}