{% extends 'base.html' %}
{% block menu_other_expenses %}active{% endblock %}
{% block sub_menu_all_expenses %}active{% endblock %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <section class="content-header">
        <br>
        {#<a href="#AddMittiSand" class="btn btn-success" data-toggle="modal"><i class="material-icons"></i> <span>Add (Mitti / Sand)</span></a>#}
        <a href="#AddDebit" class="btn btn-warning" data-toggle="modal"><i class="material-icons"></i> <span>Add Debit (Banam)</span></a>
        <a href="{% url 'other_expense:mitti_credit' pk=other_expense.id %}"><button type="button" value="Create" class="btn btn-danger">Add (Mitti / Sand)</button></a>
        {#<a href="{% url 'other_expense:mitti_debit' pk=other_expense.id %}"><button type="button" value="Create" class="btn btn-success">Debit (Banam)</button></a>#}
        <br><br><br>
    </section>
    <section class="content-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="row">
                        <h3 class="text-center"><b>{{ other_expense.name|title }} |</b> <small style="color: LightBlue !important; font-family: italian;"><b>Mitti / Sand Ledger Statement</b></small></h3>
                    </div>
                    <div class="box-body">
                        <div class="panel-body table-responsive">
                            <table class="table align-items-center table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    {#<th class="text-center">Bhatta</th>#}
                                    <th class="text-center">Amount Per Load</th>
                                    <th class="text-center">Total / Load</th>
                                    <th class="text-center">Total / Give Amount</th>
                                    <th class="text-center">Total / Take Amount</th>
                                    <th class="text-center">Details</th>
                                    <th class="remove-print-display">Actions</th>
                                </tr>
                                </thead>
                                <tbody class="reports-table-body">
                                {% for mitti in mittis %}
                                <tr>
                                    <td class="text-center">{{mitti.mitti_date}}</td>
                                    {#<td class="text-center">{{diesel.bhatta.name}}</td>#}
                                    <td class="text-center">{{mitti.amount_per_load|floatformat:-2 }}</td>
                                    <td class="text-center">{{mitti.total_load|floatformat:-2 }}</td>
                                    <td class="text-center">{{mitti.total_amount|floatformat:-2}}</td>
                                    <td class="text-center" style="color: Red !important;">{{mitti.mitti_debit_amount|floatformat:-2 }}</td>
                                    <td class="text-center">{{mitti.mitti_details}}</td>
                                    <td class="remove-print-display">
                                        <a href="{% url 'other_expense:mitti_delete' pk=mitti.pk %}" onclick="return confirm('&#9940 Are you sure you want to delete this item &#9940;')"><button class="btn btn-danger btn-xs">DELETE</button></a>
                                        <a href="{% url 'other_expense:mitti_update' pk=mitti.id %}"><button class="btn btn-primary btn-xs">Update</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    {#<td class="text-center" style="color: Black !important; font-family: italian;"><b>{{ amount_per_load|floatformat:'-2' }}</b></td>#}
                                    <td class="text-center" style="color: Black !important; font-family: italian;"><b>{{ total_load|floatformat:'-2' }}</b></td>
                                    <td class="text-center" style="color: Black !important; font-family: italian;"><b>{{ total_amount|floatformat:'-2' }}</b></td>
                                    <td class="text-center" style="color: Black !important; font-family: italian;"><b>Rs. {{ mitti_debit_amount|floatformat:'-2' }}</b></td>
                                    <td colspan="1" class="text-center" style="color: Red !important; font-family: italian;"><b>Remaining Amount: Rs. {{ remaining_amount|floatformat:'-2' }}</b></td>
                                </tr>
                                </tfoot>
                            </table>
                            {% if paginator.page_range|length > 1 %}
                            <div class="text-center col-lg-12">
                                <ul class="pagination justify-content-center">
                                    <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'other_expense:diesel_details' pk=other_expense.id %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                                    <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'other_expense:diesel_details' pk=other_expense.id %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Add Mitti Sand Amount Modal HTML -->
	<!-- <div id="AddMittiSand" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'other_expense:mitti_credit' pk=other_expense.id %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="other_expense" value="{{ other_expense.id }}">
					<div class="modal-header">
						<h3 class="text-center">{{ other_expense.name|title }}</h3>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                    <div class="col-lg-4">
                        <label class="form-control-label" name="bhatta">Bhatta<span style="color:red">*</span></label>
                            <select class="form-control" name="bhatta">
                                {% for bhatta in bhatta %}
                                <option value="{{ bhatta.id }}">{{ bhatta.name }}</option>
                                {% endfor %}
                            </select>
                    </div>

                        <div class="form-group">
                            <label class="form-control-label">Amount <span style="color:red">*</span></label>
                            <input type="text" name="mitti_debit_amount" class="form-control form-control-alternative" placeholder="Add Amount" required>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Details <span style="color:red"></span></label>
                            <textarea type="text" name="mitti_details" class="form-control form-control-alternative" placeholder="Please Add Details"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" name="mitti_payment_type">Debit Ledger Book<span style="color:red">*</span></label>
                            <select class="form-control" name="mitti_payment_type">
                                <option value="Debit Ledger Book">Debit Ledger Book</option>
                            </select>
                        </div>
                        <br>

                        <div class="form-group">
                            <label class="form-control-label">Date <span style="color:red">*</span></label>
                            <input type="date" name="mitti_date" class="form-control" required>
                        </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>-->

<!-- Add  Debit Amount Modal HTML -->
	<div id="AddDebit" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'other_expense:mitti_debit' pk=other_expense.id %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="other_expense" value="{{ other_expense.id }}">
					<div class="modal-header">
						<h3 class="text-center">{{ other_expense.name|title }}</h3>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                        <div class="form-group">
                            <label class="form-control-label">Amount <span style="color:red">*</span></label>
                            <input type="text" name="mitti_debit_amount" class="form-control form-control-alternative" placeholder="Add Amount" required>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Details <span style="color:red"></span></label>
                            <textarea type="text" name="mitti_details" class="form-control form-control-alternative" placeholder="Please Add Details"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" name="mitti_payment_type">Debit Ledger Book<span style="color:red">*</span></label>
                            <select class="form-control" name="mitti_payment_type">
                                <option value="Debit Ledger Book">Debit Ledger Book</option>
                            </select>
                        </div>
                        <br>

                        <div class="form-group">
                            <label class="form-control-label">Date <span style="color:red">*</span></label>
                            <input type="date" name="mitti_date" class="form-control" required>
                        </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
        function PrintInvoice(divName){
             var printContents = document.getElementById(divName).innerHTML;
             var originalContents = document.body.innerHTML;
             document.body.innerHTML = printContents;
             $('table').removeClass('table-bordered');
             $('tr').css('border', '1px solid');
             $('td').css('border', '1px solid');
             $('th').css('border', '1px solid');
             $('th').css('font-size', '12px');
             $('tr').css('font-size', '12px');
             $('td').css('font-size', '12px');
             $('.remove-print-display').hide();
             $('.print-show-options').show();
             window.print();
             document.body.innerHTML = originalContents;
             $('.remove-print-display').show();
             $('.print-show-options').hide();
        }
    </script>

<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "other_expense:diesel_details" pk=other_expense.id %}';
        window.location.href  = url + '?' + 'date=' + $('.date_search').val();
    });
})
</script>
{% endblock %}