{% extends 'base.html' %}
{% block menu_customers %}active{% endblock %}
{% block sub_menu_all_customer %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'customer:add' %}"><button type="button" class="btn btn-primary">New Customer</button></a>
                <button type="button" class="btn btn-primary print" onclick="PrintInvoice('print-invoice')" style="margin-left: 10px"> Print Invoice </button>
                <br><br>
                <div class="content-panel table-responsive print-invoices" id="print-invoice">
                    <h3 class="text-center"><b>Customers |</b> <small style="color: LightBlue !important; font-family: italian;"><b>List Statement</b></small></h3>
                    <div class="row remove-print-display">
                        <div class="col-lg-6">
                            <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                                <input type="text" class="form-control search-customer" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div style="float: right; padding: 4px">
                        <strong><span style="color: teal">Remaining Balance:</span><span style="color: #C9312C !important; font-weight: bold">{{ total_customer_balance|floatformat:'-2' }}</span></strong>&nbsp;&nbsp;&nbsp;
                        <strong><span style="color: teal">Advance Payments:</span><span style="color: #C9312C !important; font-weight: bold">{{ customer_balance|floatformat:'-2' }}</span></strong>&nbsp;&nbsp;&nbsp;
                    </div>
                    <hr>
                    <table class="table table-striped table-advance table-hover table-bordered customers-table table-responsive">
                        <thead style="background-color: teal;">
                        <tr style="color: white">
                            <th>S.No</th>
                            <th class="text-center"> Customer Name</th>
                            <th class="text-center"> Mobile</th>
                            <th class="text-center"> Customer Type</th>
                            <th class="text-center"> status Type</th>
                            <th class="text-center"> Remaining Balance</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="customers-table-body">
                        {% if not object_list %}
                            <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for customer in object_list %}
                            <tr style="color: black; font-weight: bold">
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center"><a href="{% url 'customer:invoices' customer_id=customer.id %}">{{ customer.name|title }}</a></td>
                                <td class="text-center">{{ customer.mobile_no }}</td>
                                <td class="text-center">{{ customer.customer_type }}</td>
                                <td class="text-center">{{ customer.customer_status }}</td>
                                <td class="text-center">{{ customer.remaining_balance|floatformat:"-2" }}</td>
                                <td class="text-center">
                                    <a href="{% url 'customer:update' pk=customer.id %}"><button class="btn btn-primary btn-xs" title="Update Customer">Update</button></a>
                                    <a href="{% url 'customer:ledger_details' customer_id=customer.id %}"><button class="btn btn-warning btn-xs" title="View Customer Ledgers"><i class="fa fa-eye"></i></button></a>
                                    <a href="{% url 'customer:invoices' customer_id=customer.id %}"><button class="btn btn-success btn-xs" title="View Customer Invoices">Reports</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if paginator.page_range|length > 1 %}
                        <div class="text-center">
                            <ul class="pagination">
                                <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{{ request.path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                                <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{{ request.path }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

<!-- Add Customer Modal HTML -->
	<div id="add" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'customer:add' %}" method="post" autocomplete="off">
                    {% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title text-center">Add Customer</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                        <div class="form-group">
                            <label class="form-control-label">Customer Name <span style="color:red">*</span></label>
                            <input type="text" name="name" class="form-control form-control-alternative" placeholder="Add Customer Name" required>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" name="customer_type">Type<span style="color:red">*</span></label>
                            <select class="form-control" name="customer_type">
                                <option value="Khata">Khata</option>
                                <option value="Advance">Advance</option>
                            </select>
                        </div>

						<div class="form-group">
                            <label class="form-control-label" name="customer_status">Select Status Type<span style="color:red">*</span></label>
                            <select class="form-control" name="customer_status">
                                <option value="Activate">Activate</option>
                                <option value="Deactivate">Deactivate</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Mobile <span style="color:red"></span></label>
                            <input type="text" name="mobile_no" class="form-control form-control-alternative" placeholder="Mobile">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Complete Address <span style="color:red"></span></label>
                            <input type="text" name="address" class="form-control form-control-alternative" placeholder="Add Address" >
                        </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $(".search-customer").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".customers-table-body tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $('.filter-btn').on('click', function(){
                if ($('#bhatta_filter').val() ==  'All Bhattas') {
                    var bhatta = 'Bhattas';
                } else {
                    var bhatta = $('#bhatta_filter').val();
                }
                var customers_url = '{% url "customer:list" %}';
                console.log(customers_url + bhatta + '/');
                window.location.href = customers_url + bhatta + '/';
            });
            $('#bhatta_filter option:contains("{{ bhatta_kw }}")').prop('selected',true);
        });
    </script>
{% endblock %}