{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'stock:item_stock_details' item_id=item.id %}"><button type="button" class="btn btn-primary" style="float: left">Back</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">{{ item.item_name }} | <small>{{ item.bhatta }}</small></h3>
            <div class="panel-body">
                <form class="form-horizontal add-customer-form" action="{% url 'stock:stock_out' pk=item.id %}" method="post" >
                    <div class="form-group">
                        <div class="col-sm-12">
                            {% csrf_token %}
                            <input type="text" class="form-control season_name" name="season_name" autocomplete="off" placeholder="Select Season" list="season_list">
                            <datalist id="season_list">
                                {% for season in seasons %}
                                    <option value="{{ season.season_year }}"></option>
                                {% endfor %}
                            </datalist>
                            <br>
                            <input type="text" class="form-control stock_out" name="stock_out" placeholder="Stock Quantity" >
                            <br>
                            <input type="text" class="form-control amount_per_item" name="amount_per_item" placeholder="Amount per Quantity" >
                            <br>
                            <input type="text" class="form-control total_amount" name="total_amount" placeholder="Total Amount">
                            <br>
                            <textarea class=" form-control details" name="details" placeholder="Details (Optional)"></textarea>
                            <br>
                            <input type="date" class="form-control added_date" name="added_date">
                            <br>
                            <input type="hidden" name="bhatta" value="{{ item.bhatta.id }}"><br>
                            <input type="hidden" name="stock" value="{{ item.id }}">
                            <button type="submit" class="btn btn-primary product-sub-btn" style="float: right">Save Item</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{#    <script>#}
{#        $('.stock_out').on('change', function () {#}
{#            $('.total_amount').val($(this).val() * $('.amount_per_item').val());#}
{#            if ($('.total_amount').val() ==  0 ) {#}
{#                $('.total_amount').val('');#}
{#            }#}
{#        });#}
{#        $('.amount_per_item').on('change', function () {#}
{#            $('.total_amount').val($(this).val() * $('.stock_out').val());#}
{#            if ($('.total_amount').val() ==  0 ) {#}
{#                $('.total_amount').val('');#}
{#            }#}
{#        });#}
{#    </script>#}
{% endblock %}
