{% extends 'base.html' %}
{% load staticfiles %}
{% block menu_dashboard %}active{% endblock %}
{% block content %}

    <!-- Add Staff Modal HTML -->
	<div id="addstaff" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'staff:create' %}" method="post" autocomplete="off">
                    {% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title text-center">Add Staff</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                        <div class="col-md-6 form-group">
                            <label class="form-control-label">Staff Name <span style="color:red">*</span></label>
                            <input type="text" name="name" class="form-control form-control-alternative" placeholder="Add Staff Name" required>
                        </div>

                    <div class="col-md-6 form-group">
                        <label class="form-control-label">Bhatta<span style="color:red">*</span></label>
                            <select class="form-control bhatta_name" name="bhatta_name" id="bhatta_list" autocomplete="off" list="bhatta_list">
                            {% for bhatta in bhattas %}
                            <option value="{{ bhatta.name }}">{{ bhatta.code }}</option>
                            {% endfor %}
                         </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="form-control-label" name="customer_type">Staff Type<span style="color:red">*</span></label>
                        <input type="text" class="form-control staff_type" name="staff_type" autocomplete="off" placeholder="Select type" list="staff_type_list">
                        <datalist id="staff_type_list">
                            <option value="Salary Staff"></option>
                            <option value="Weekly Staff"></option>
                            <option value="Other Staff"></option>
                        </datalist>
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="form-control-label">Designation <span style="color:red"></span></label>
                        <input type="text" name="designation" class="form-control form-control-alternative" placeholder="Designation">
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="form-control-label">Rate <span style="color:red"></span></label>
                        <input type="text" name="rate" class="form-control form-control-alternative" placeholder="Rate">
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="form-control-label">Mobile <span style="color:red"></span></label>
                        <input type="text" name="mobile_no" class="form-control form-control-alternative" placeholder="Mobile">
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="form-control-label">Joining Date <span style="color:red"></span></label>
                        <input type="date" name="joining_date" class="form-control form-control-alternative" placeholder="Add Joining Date" >
                    </div>

                        <div class="col-md-6 form-group">
                            <label class="form-control-label">Leaving Date  <span style="color:red"></span></label>
                            <input type="date" name="leaving_date" class="form-control form-control-alternative" placeholder="Add Leaving Date" >
                        </div>
                    </div>
                    <br>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
    <!-- Add Staff Modal End -->

    <!-- Add Customer Modal HTML -->
	<div id="addcustomer" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'customer:add' %}" method="post" autocomplete="off">
                    {% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title text-center">Add Customer</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                        <div class="form-group">
                            <label class="form-control-label">Customer Name <span style="color:red">*</span></label>
                            <input type="text" name="name" class="form-control form-control-alternative" placeholder="Add Customer Name" required>
                        </div>

                        <div class="form-group">
                        <label class="form-control-label">Bhatta<span style="color:red">*</span></label>
                            <select class="form-control bhatta_name" name="bhatta_name" autocomplete="off" list="bhatta_list">
                            {% for bhatta in bhattas %}
                            <option value="{{ bhatta.name }}">{{ bhatta.code }}</option>
                            {% endfor %}
                         </select>
                    </div>

                        <div class="form-group">
                            <label class="form-control-label" name="customer_type">Type<span style="color:red">*</span></label>
                            <select class="form-control" name="customer_type">
                                <option value="Khata">Khata</option>
                                <option value="Advance">Advance</option>
                            </select>
                        </div>

						<div class="form-group">
                            <label class="form-control-label" name="customer_status">Select Status Type<span style="color:red">*</span></label>
                            <select class="form-control" name="customer_status">
                                <option value="Activate">Activate</option>
                                <option value="Deactivate">Deactivate</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Mobile <span style="color:red"></span></label>
                            <input type="text" name="mobile_no" class="form-control form-control-alternative" placeholder="Mobile">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Complete Address <span style="color:red"></span></label>
                            <input type="text" name="address" class="form-control form-control-alternative" placeholder="Add Address" >
                        </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
    <!-- Add Customer Modal End -->

    <!-- Add Koyla Modal HTML -->
	<div id="addkoyla" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'koyla:add' %}" method="post" autocomplete="off">
                    {% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title text-center">Add New Koyla & Toh</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                        <div class="form-group">
                            <label class="form-control-label">Koyla Expense Name <span style="color:red">*</span></label>
                            <input type="text" name="name" class="form-control form-control-alternative" placeholder="Add Owner Name" required>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Department <span style="color:red"></span></label>
                            <input type="text" name="department" class="form-control form-control-alternative" placeholder="Add department">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Bhatta<span style="color:red">*</span></label>
                                <select class="form-control bhatta_name" name="bhatta_name" autocomplete="off" list="bhatta_list">
                                {% for bhatta in bhattas %}
                                <option value="{{ bhatta.name }}">{{ bhatta.code }}</option>
                                {% endfor %}
                             </select>
                        </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
    <!-- Add Koyla Modal End -->



    <div class="row">
        <div class="col-lg-12 main-chart">
            <div class="row">
                <div class="col-md-3 mb"></div>
                <div class="col-md-6">
                    <select class="form-control" id="season_filter">
                        <option>All Seasons</option>
                        {% for season in seasons %}
                            <option>{{ season.season_year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 mb">
                    <div class="darkblue-panel pn">
                        <div class="darkblue-header">
                            <h5>Total Staff</h5>
                        </div>
                        <canvas id="serverstatus02" height="120" width="120"></canvas>
                        <script>
                            var doughnutData = [
                                {
                                    value: 60,
                                    color:"#68dff0"
                                },
                                {
                                    value : 40,
                                    color : "#444c57"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                        </script>
                        <p>{{ today_date }}</p>
                        <footer>
                            <div class="pull-left">
                                <h5><i class="fa fa-hdd-o"></i> No. of Staff: {{ total_staff }}</h5>
                            </div>
                        </footer>
                    </div><! -- /darkblue panel -->
                </div><!-- /col-md-4 -->

                <div class="col-md-3 mb">
                    <div class="darkblue-panel pn">
                        <div class="darkblue-header">
                            <h5>Total Customers</h5>
                        </div>
                        <canvas id="serverstatus001" height="120" width="120"></canvas>
                        <script>
                            var doughnutData = [
                                {
                                    value: 80,
                                    color:"#68dff0"
                                },
                                {
                                    value : 20,
                                    color : "#444c57"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("serverstatus001").getContext("2d")).Doughnut(doughnutData);
                        </script>
                        <p>{{ today_date }}</p>
                        <footer>
                            <div class="pull-left">
                                <h5><i class="fa fa-hdd-o"></i> No. of Customers: {{ total_customers }}</h5>
                            </div>
                        </footer>
                    </div><! -- /darkblue panel -->
                </div><!-- /col-md-4 -->

                <div class="col-md-3 mb">
                    <div class="darkblue-panel pn">
                        <div class="darkblue-header">
                            <h5>Customers Remaining Balance</h5>
                        </div>
                        <canvas id="serverstatus002" height="120" width="120"></canvas>
                        <script>
                            var doughnutData = [
                                {
                                    value: 40,
                                    color:"#68dff0"
                                },
                                {
                                    value : 60,
                                    color : "#444c57"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("serverstatus002").getContext("2d")).Doughnut(doughnutData);
                        </script>
                        <p>{{ today_date }}</p>
                        <footer>
                            <div class="pull-left">
                                <h5><i class="fa fa-hdd-o"></i> Remaining Balance: {{ total_customer_balance|floatformat:'-2' }}</h5>
                            </div>
                        </footer>
                    </div><! -- /darkblue panel -->
                </div><!-- /col-md-4 -->

                <div class="col-md-3 mb">
                    <div class="darkblue-panel pn">
                        <div class="darkblue-header">
                            <h5>{% if season_kw %}{{ season_kw }}{% else %}All{% endif %} Invoices</h5>
                        </div>
                        <canvas id="serverstatus003" height="120" width="120"></canvas>
                        <script>
                            var doughnutData = [
                                {
                                    value: 50,
                                    color:"#68dff0"
                                },
                                {
                                    value : 50,
                                    color : "#444c57"
                                }
                            ];
                            var myDoughnut = new Chart(document.getElementById("serverstatus003").getContext("2d")).Doughnut(doughnutData);
                        </script>
                        <p>{{ today_date }}</p>
                        <footer>
                            <div class="pull-left">
                                <h5><i class="fa fa-hdd-o"></i> No. of Invoices: {{ total_invoices|floatformat:'-2' }}</h5>
                            </div>
                        </footer>
                    </div><! -- /darkblue panel -->
                </div><!-- /col-md-4 -->

            </div><!-- /row -->

            <div class="row">
                <div class="col-lg-12 main-chart">
                    <div id="graph-01" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 main-chart">
                    <div id="graph-02" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>

        </div><!-- /col-lg-9 END SECTION MIDDLE -->


        <!-- **********************************************************************************************************************************************************
        RIGHT SIDEBAR CONTENT
        *********************************************************************************************************************************************************** -->

    </div><! --/row -->

<-- Home Page success Msg -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    let btn
    swal ( "Nawab Bricks & Manufacturs" ,  "WEL COME BACK TO HOME PAGE!" ,  "success" )
</script>

{% endblock %}

{% block scripts %}
    {% load template_tags %}
    {{ block.super }}
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts-exporting.js' %}"></script>
    <script src="{% static 'js/highcharts-export-data.js' %}"></script>
    <script>

        $('#season_filter').on('change', function(){
            if ($(this).val() ==  'All Seasons') {
                var season = 'Seasons';
            } else {
                var season = $(this).val()
            }
            var index_url = '{% url "common:index" %}';
            window.location.href = index_url + 'index/' + season + '/';
        });

        $('#season_filter option:contains("{{ season_kw }}")').prop('selected',true);
        $('#bhatta_filter option:contains("{{ bhatta_kw }}")').prop('selected',true);


        var bhattas_list = [];
        var avaiable_stock = [];
        var purchased_stock = [];
        {% for bhatta in bhattas %}
            bhattas_list.push('{{ bhatta.name }}');
            var stock_availablility = 0;
            var stock_purchaseable = 0;
            {% for stock in bhatta.stock_bhatta.all %}
                {% available_stock stock=stock season=season_kw as available_stock %}
                stock_availablility = stock_availablility + {{ available_stock }};
                {% purchased_stock stock=stock season=season_kw as purchased_stock %}
                stock_purchaseable = stock_purchaseable + {{ purchased_stock }}
            {% endfor %}
            avaiable_stock.push(stock_availablility);
            purchased_stock.push(stock_purchaseable);
        {% endfor %}

        Highcharts.chart('graph-01', {
            chart: {
                type: 'column'
            },
            title: {
                text: '{{ season_kw }} Available Bricks Details'
            },
            xAxis: {
                categories: bhattas_list
            },
            credits: {
                enabled: false
            },
            series: [{
                color: '#424A5E',
                name: 'Available Bricks',
                data: avaiable_stock
            }]
        });

        Highcharts.chart('graph-02', {
            chart: {
                type: 'column'
            },
            title: {
                text: '{{ season_kw }} Purchased Bricks Details'
            },
            xAxis: {
                categories: bhattas_list
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Purchased Bricks',
                color: '#41778F',
                data: purchased_stock
            }]
        });
    </script>
{% endblock %}