{% extends 'base.html' %}
{% block menu_account %}active{% endblock %}
{% block sub_menu_all_account %}active{% endblock %}
{% block content %}
    <div class="col-md-6">
        <br>
        <a href="#"><button type="button" class="btn btn-primary" style="float: left">Back</button></a> &nbsp;
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">{{ income_account.name }} | <small>Debit Amount</small></h3>
            <div class="panel-body">
                <form class="form-horizontal new_ledger" action="{% url 'account:debit' pk=account.id %}" method="post" >
                    <div class="form-group">
                        <div class="col-sm-12">
                            {% csrf_token %}
                            <input type="text" class="form-control diesel_debit_amount" name="income_debit_amount" placeholder="Amount"><br>
                            <textarea maxlength="500" rows="4" name="income_details" class="form-control income_details"  placeholder ="Please Add Details"></textarea> <br>
                            <input type="date" class="form-control diesel_date" name="income_date"><br>
                            <label class="form-control-label" name="income_payment_type">Ledger Book<span style="color:red">*</span></label>
                            <select class="form-control" name="income_payment_type">
                                <option value="Debit Ledger Book">Debit Ledger Book</option>
                            </select>
                            <br>
                            <input type="hidden" name="account" value="{{ account.id }}">
                            <button type="submit" class="btn btn-primary ledger-submit-btn" style="float: right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
